<!DOCTYPE html>
<html>
  <head>
    <title>Image Segmentation</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
  </head>
  <body>
    <h1>Image Segmentation</h1>
    <p>Welcome to image segmentation! Enjoy your training and testing!</p>
    <div>
      <h2>Test</h2>
      <input type="text" id="TestID" placeholder="give me the id of model">
      <input type="file" id="TestData" multiple="multiple">
      <button id="TestSubmit">Submit</button>
    </div>
    <div>
      <h2>Create New Train Models</h2>
      <input type="text" id="NewTrainID" placeholder="give me the id of model">
      <input type="text" id="NewTrainPWD" placeholder="password of model">
      <button id="NewTrainSubmit">Submit</button>
    </div>
    <div>
      <h2>Upload data for a new training model</h2>
      <input type="text" id="TrainID4Data" placeholder="give me the id of model">
      <input type="text" id="TrainDataPWD" placeholder="password of model">
      <input type="file" id="TrainData" multiple="multiple">
      <button id="TrainDataSubmit">Submit</button>
    </div>
    <div>
      <h2>Upload label for a new training model</h2>
      <input type="text" id="TrainID4Label" placeholder="give me the id of model">
      <input type="text" id="TrainLabelPWD" placeholder="password of model">
      <input type="file" id="TrainLabel" multiple="multiple">
      <button id="TrainLabelSubmit">Submit</button>
    </div>
    <div>
      <h2>Upload relation between data and label for a new training model</h2>
      <input type="text" id="TrainID4Relation" placeholder="give me the id of model">
      <input type="text" id="TrainRelationPWD" placeholder="password of model">
      <input type="file" id="TrainRelation">
      <button id="TrainRelationSubmit">Submit</button>
    </div>
    <div>
      <h2>Start training</h2>
      <input type="text" id="StartTrainID" placeholder="give me the id of model">
      <input type="text" id="StartTrainPWD" placeholder="password of model">
      <button id="StartTrainSubmit">Submit</button>
    </div>
    <div>
      <h2>Stop training</h2>
      <input type="text" id="StopTrainID" placeholder="give me the id of model">
      <input type="text" id="StopTrainPWD" placeholder="password of model">
      <button id="StopTrainSubmit">Submit</button>
    </div>
    <div>
      <h2>Get training procedure</h2>
      <input type="text" id="GetTrainID" placeholder="give me the id of model">
      <input type="text" id="Range0" placeholder="the start iter number">
      <input type="text" id="Range1" placeholder="the end iter number">
      <button id="GetTrainSubmit">Submit</button>
    </div>
    <div>
      <h2>Clear Train Datas</h2>
      <input type="text" id="ClearTrainID" placeholder="give me the id of model">
      <input type="text" id="ClearTrainPWD" placeholder="password of model">
      <button id="ClearTrainSubmit">Submit</button>
    </div>
  </body>
</html>
